.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea/encodings.xml
.idea/kelvin_blog.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
